<div class="w3-bar w3-black w3-card">
  <div class="w3-bar-item w3-yellow"><b>SIMBION</b></div>
  <a href="/" ><button class="w3-bar-item w3-button">Home</button></a>
  {% if not username %}
  <div id="not_logged">
    <a href="/account/register/" ><div class="w3-bar-item w3-right">Register</div></a>
    <a href="/account/login/" ><div class="w3-bar-item w3-right">Login</div></a>
  </div>
  {% elif role == "mahasiswa" %}
