{% extends "layout/base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<br><br><br>
<div class="w3-container">
      <center>
          <div class="judul">
              <h1> Login {{username}}</h1>
              <hr style="width:60%">

          </div>
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <p class="w3-text-red">{{ message }}</p>
            </div>
          {% endfor %}
          <form action="/account/submit-login" method="POST">
              {% csrf_token %}             <p>
                  <label for="username"> Username </label>
                  <input type="text" id="username" name="username" required>
              </p>
              <p>
                  <label for="password"> Password </label>
                  <input type="password" id="password" name="password" required>
              </p>
              <a href="/"><button class="w3-button w3-round w3-blue"><b>Login</b></button></a>
          </form>
      </center>
  </div>

{% endblock %}
