{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}" type="text/css"> </head>

<body class="">
  <div class="m-0 py-4 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">LIST BEASISWA &nbsp;</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="table table-responsive">
        <table class="table table-hover" id="myTable" style="width: none;">
            <thead>
              <tr>
                  <th>No Urut Skema Beasiswa</th>
                  <th>Kode Skema</th>
                  <th>Waktu Penutupan</th>
                  <th>Status</th>
                  <th>Jumlah Pendaftar</th>
              </tr>
            </thead>
            <tbody>
              {% for row in tabel_skema %}
              
                <tr>
                  <td>{{ row.0 }}</td>
                  <td><a href="{% url 'percobaan:open_pendaftar' row.0 row.1 %}">{{ row.1 }}</a></td>
                  <td>{{ row.2 }}</td>
                  <td>{{ row.3 }}</td>
                  <td>{{ row.4 }}</td>
                </tr>
              
              {% endfor %}
            </tbody>
        </table>
      </div>
    </div>  
  </div>
  
  
  <!-- Jquery n Bootstrap Script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo> -->
  <script type="text/javascript" src="{% static 'js/jquery-latest.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script> 

<!-- Jquery script -->
<script>
   $(document).ready(function() 
      { 
        $("table").tablesorter(); 
      } 
    );
</script>
</body>

</html>