{% extends "layout/base.html" %}
{% block title %}
Register
{% endblock %}
{% block content %}
<br><br><br>
<div id="modalmahasiswa" class="w3-modal" style="padding-top:0">
  <br><br><br>
  <span class="w3-button w3-black w3-xlarge w3-display-topright" onclick="document.getElementById('modalmahasiswa').style.display='none'">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-padding-64">
    <center>
      <div class="w3-container" id="form">
        <div class="judul">
            <h1> Register Sebagai Mahasiswa </h1>
            <hr style="width:60%">

        </div>
        <form action="/account/submit-mahasiswa" method="POST">
            {% csrf_token %}
                <label for="username"> Username: </label>
                <input type="text" maxlength="20" id="username" name="username" required><br>

                <label for="password"> Password: </label>
                <input type="password" maxlength="20" id="password" name="password" required><br>

                <label for="npm"> NPM: </label>
                <input type="text" maxlength="20" id="npm" name="npm" required><br>

                <label for="email"> Email: </label>
                <input type="text" maxlength="50" id="email" name="email" required><br>

                <label for="nama_lengkap"> Nama Lengkap: </label>
                <input type="text" maxlength="50" id="nama_lengkap" name="nama_lengkap" required><br>

                <label for="nomor_telepon"> Nomor Telepon: </label>
                <input type="text" maxlength="20" id="nomor_telepon" name="nomor_telepon" required><br>

                <label for="alamat"> Alamat Tempat Tinggal: </label>
                <input type="alamat" maxlength="50" id="alamat" name="alamat" required><br>

                <label for="alamat_domi"> Alamat Domisili: </label>
                <input type="text" maxlength="50" id="alamat_domi" name="alamat_domi" required><br>

                <label for="bank"> Bank: </label>
                <input type="text" maxlength="50" id="bank" name="bank" required><br>

                <label for="rekening"> Rekening: </label>
                <input type="rekening" maxlength="20" id="rekening" name="rekening" required><br>

                <label for="nama_pemilik"> Nama Pemilik: </label>
                <input type="text" maxlength="20" id="nama_pemilik" name="nama_pemilik" required><br>
            <!--<input type="submit" class="btn btn-primary w3-yellow">-->
            <br><a href="/"><button class="w3-button w3-round w3-yellow"><b>Register</b></button></a>
        </form>
      </div>
    </center>
  </div>
</div>

<div id="modalindividual" class="w3-modal" style="padding-top:0">
  <br><br><br>
  <span class="w3-button w3-black w3-xlarge w3-display-topright" onclick="document.getElementById('modalindividual').style.display='none'">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-padding-64">
    <center>
      <div class="w3-container" id="form">
        <div class="judul">
            <h1> Register Sebagai Individual Donatur </h1>
            <hr style="width:60%">

        </div>
        <form action="/account/submit-donatur-individu" method="POST">
            {% csrf_token %}
            <label for="usernameindividual"> Username: </label>
            <input type="text" maxlength="20" id="usernameindividual" name="usernameindividual" required><br>

            <label for="passwordindividual"> Password: </label>
            <input type="password" maxlength="20" id="passwordindividual" name="passwordindividual" required><br>

            <label for="niindividual"> Nomor Identitas: </label>
            <input type="text" maxlength="20" id="niindividual" name="niindividual" required><br>

            <label for="nik"> NIK (16 Char): </label>
            <input type="text" pattern=".{16,16}" id="nik" name="nik" required><br>

            <label for="emailindividual"> Email: </label>
            <input type="text"  maxlength="50" id="emailindividual" name="emailindividual" required><br>

            <label for="nama_lengkapindividual"> Nama Lengkap: </label>
            <input type="text"  maxlength="50" id="nama_lengkapindividual" name="nama_lengkapindividual" required><br>

            <label for="npwp"> NPWP (20 Char): </label>
            <input type="text" pattern=".{20,20}" id="npwp" name="npwp" required><br>

            <label for="nomor_teleponindividual"> Nomor Telepon: </label>
            <input type="text" maxlength="20" id="nomor_teleponindividual" name="nomor_teleponindividual" required><br>

            <label for="alamatindividual"> Alamat Tempat Tinggal: </label>
            <input type="alamatindividual" maxlength="20" id="alamatindividual" name="alamatindivual" required><br>
            <!--<input type="submit" class="btn btn-primary w3-yellow">-->
            <br><a href="/"><button class="w3-button w3-round w3-yellow"><b>Register</b></button></a>
        </form>
      </div>
    </center>
  </div>
</div>

<div id="modalyayasan" class="w3-modal" style="padding-top:0">
  <br><br><br>
  <span class="w3-button w3-black w3-xlarge w3-display-topright" onclick="document.getElementById('modalyayasan').style.display='none'">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-padding-64">
    <center>
      <div class="w3-container" id="form">
        <div class="judul">
            <h1> Register Sebagai Yayasan Donatur </h1>
            <hr style="width:60%">

        </div>
        <form action="/account/submit-donatur-yayasan" method="POST">
            {% csrf_token %}
                <label for="usernameyayasan"> Username: </label>
                <input type="text" maxlength="20" id="usernameyayasan" name="usernameyayasan" required><br>

                <label for="passwordyayasan"> Password: </label>
                <input type="password" maxlength="20" id="passwordyayasan" name="passwordyayasan" required><br>

                <label for="niyayasan"> Nomor Identitas: </label>
                <input type="text" maxlength="20" id="niyayasan" name="niyayasan" required><br>

                <label for="nsk"> Nomor SK Yayasan: </label>
                <input type="text" maxlength="20" id="nsk" name="nsk" required><br>

                <label for="emailyayasan"> Email Yayasan: </label>
                <input type="text" maxlength="50" id="emailyayasan" name="emailyayasan" required><br>

                <label for="namayayasan"> Nama Yayasan: </label>
                <input type="text" maxlength="50" id="namayayasan" name="namayayasan" required><br>

                <label for="nomor_teleponyayasan"> Nomor Telepon: </label>
                <input type="text" maxlength="20" id="nomor_teleponyayasan" name="nomor_teleponyayasan" required><br>

                <label for="npwpyayasan"> NPWP: </label>
                <input type="text" pattern=".{20,20}" id="npwpyayasan" name="npwpyayasan" required><br>

                <label for="alamatyayasan"> Alamat Yayasan: </label>
                <input type="text" maxlength="50" id="alamatyayasan" name="alamatyayasan" required><br>
            <!--<input type="submit" class="btn btn-primary w3-yellow">-->
            <br><a href="/"><button class="w3-button w3-round w3-yellow"><b>Register</b></button></a>
        </form>
      </div>
    </center>
  </div>
</div>

<div class="w3-container">
      <center>
        <div class="judul">
            <h1> Register Pengguna</h1>
            <hr style="width:60%">
        </div>
        <button class="w3-button w3-yellow w3-card" onclick="mahasiswa(this)"> Register Sebagai Mahasiswa</button><br><br>
        <button class="w3-button w3-light-grey w3-card" onclick="individual(this)"> Register Sebagai Donatur Individual</button><br><br>
        <button class="w3-button w3-black w3-card" onclick="yayasan(this)"> Register Sebagai Donatur Yayasan</button>
      </center>
  </div>

{% endblock %}

{% block script %}
  function mahasiswa(element) {
  document.getElementById("modalmahasiswa").style.display = "block";
}
  function individual(element) {
    document.getElementById("modalindividual").style.display = "block";
  }
  function yayasan(element) {
  document.getElementById("modalyayasan").style.display = "block";
}
{% endblock %}
